{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'treatments/css/treatments.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!-- Treatment details and descriptions -->
<div class="container body-container">
    <!-- Treatment title -->
    <div class="row align-items-center py-3 my-1">
        <div class="col-sm-12 py-xs-0 py-2">
            <p class="back-link"><a href="{% url 'treatments' %}"><i class="fas fa-angle-left px-3"></i>All
                    Treatments</a></p>
            <h1 class="mt-0 pb-3 text-center">{{ treatment.treatment_name}}</h1>
        </div>
    </div>
    {% if request.user.is_superuser %}
    <div class="col-12">
        <!-- Edit button -->
        <a class="btn my-2 col-12 col-sm-4" href="{% url 'edit_treatment' treatment.id %}">Edit treatment<span
                class="icon p-2">
                <i class="far fa-edit" aria-hidden="true"></i>
            </span></a>
        <!-- delete treatment -->
        <a class="btn my-2 col-12 col-sm-4" href="{% url 'delete_treatment' treatment.id %}"
            aria-label="delete treatment">
            Delete treatment<span class="icon p-2">
                <i class="fas fa-trash" aria-hidden="true"></i>
            </span></a>
        </span></a>
    </div>
    {% endif %}
    <!-- Description -->
    <div class="row align-items-center py-3 my-1">
        <div class="col-sm-12 py-xs-0 p-4">
            <p>{{ treatment.treatment_description }}</p>
        </div>
    </div>
    <!-- Before/After pictures -->
    <div class="row align-items-center py-3 my-1">
        <div class="col-sm-6 col-12 align-self-center p-4 treatment-photo-container">
            <p class="before-after-txt">before</p>
            <img class="card-img-top img-fluid" loading="lazy" src="{{ treatment.before_picture.url }}"
                alt="before picture">
        </div>
        <div class="col-sm-6 col-12 align-self-center p-4 treatment-photo-container">
            <p class="before-after-txt">after</p>
            <img class="card-img-top img-fluid" loading="lazy" src="{{ treatment.after_picture.url }}"
                alt="after picture">
        </div>
    </div>

</div>
{% endblock %}