{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'treatments/css/treatments.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container treatments-container body-container">
    <div class="row align-items-center py-3 my-1">
        <div class="col-sm-12 py-xs-0 py-2">
            <h1 class="mt-0 pb-3 text-center">treatments</h1>
            {% if request.user.is_superuser %}
            <!-- add new treatment -->
            <div class="text-center text-sm-right">
                <a class="btn my-2 col-12 col-lg-4 col-md-5" href="{% url 'add_new_treatment' %}">add new treatment<span
                        class="icon p-2">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Treatments grid-->
    <div class="row align-items-center py-3 my-1">
        {% for TreatmentDetails in all_treatments %}
        {% if  TreatmentDetails.display %}
        <div class="col-sm-6 col-12 treatment-photo-container align-self-center p-4">
            <a href="{% url 'treatment_details' TreatmentDetails.treatment_name %}"
                title="{{ TreatmentDetails.treatment_name}} details"
                aria-label="see full details about {{ TreatmentDetails.treatment_name}}">
                <img class="card-img-top img-fluid treatment-photo" loading="lazy"
                    src="{{ TreatmentDetails.after_picture.url }}" alt="{{ TreatmentDetails.treatment_name}}">
                <!-- overlay on hover -->
                <div class="treatment-photo-overlay">
                    <p class="treatment-title">{{ TreatmentDetails.treatment_name}}</p>
                </div>
            </a>
            {% if request.user.is_superuser %}
            <!-- delete treatment -->
            <div class="col-12">
                <a class="btn my-2 col-12" href="{% url 'delete_treatment' TreatmentDetails.id %}"
                    aria-label="delete treatment">
                    Delete treatment<span class="icon p-2">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </span></a>
                </span></a>
                <!-- Edit button -->
                <a class="btn my-2 col-12" href="{% url 'edit_treatment' TreatmentDetails.id %}">Edit treatment<span
                        class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
