{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pricelist/css/pricelist.css' %}" type="text/css">
{% endblock %}


{% block content %}
<div class="container treatments-container body-container">
    <!-- title -->
    <div class="row py-3 my-1">
        <div class="col py-xs-0">
            <h1 class="mt-0 text-center">pricelist</h1>
        </div>
    </div>
    <!-- short description -->
    <div class="row align-items-center my-1">
        <div class="col-sm-12 py-xs-0 p-4">
            {% for PricelistIntro in pricelist_intro_section %}
            <p>{{ PricelistIntro.description }}</p>
            {% if request.user.is_superuser %}
            <!-- Edit button -->
            <div class="text-center text-sm-right">
                <a class="btn my-2 col-12 col-lg-4 col-md-5"
                    href="{% url 'edit_pricelist_intro' PricelistIntro.id %}">Edit intro section<span class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- pricelist -->
    <div class="row align-items-center justify-content-center py-3 my-1">
        <!-- Individual treatment section -->
        {% for TreatmentDetails in all_treatments %}
        {% if  TreatmentDetails.display_treatment %}
        <!-- Treatment name:{{ TreatmentDetails.treatment_name }} -->
        <div class="col-sm-12 py-xs-0 px-4 py-2" id="{{ TreatmentDetails.treatment_name }}">
            <h2 class=" text-center"> {{ TreatmentDetails.treatment_name }} </h2>
            {% if request.user.is_superuser %}
            <!-- display management buttons for superuser -->
            <div class="col-12 text-center my-3">
                <!-- Edit button -->
                <a class="btn my-2 col-12 col-sm-4" href="{% url 'edit_treatment' TreatmentDetails.id %}">edit
                    details<span class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
                <!-- delete treatment -->
                <a class="btn my-2 col-12 col-sm-4" href="{% url 'delete_treatment' TreatmentDetails.id %}"
                    aria-label="delete treatment">
                    Delete treatment<span class="icon p-2">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </span></a>
                </span></a>
            </div>
            {% endif %}

            <!-- Short description for {{ TreatmentDetails.treatment_name }} -->
            <p>{{ TreatmentDetails.treatment_price_description }}</p>
        </div>
        <!-- Pricelist for: {{ TreatmentDetails.treatment_name }} -->
        <div class="col-sm-4 py-xs-0 p-4">
            <table class="table table-striped text-center">
                <tbody>
                    <tr>
                        <td>{{ TreatmentDetails.price_name_a }}</td>
                        <td>£{{ TreatmentDetails.price_a }}</td>
                    </tr>
                    {% if TreatmentDetails.price_name_b %}
                    <!-- only display if price exists -->
                    <tr>
                        <td>{{ TreatmentDetails.price_name_b }}</td>
                        <td>£{{ TreatmentDetails.price_b }}</td>
                    </tr>
                    {% endif %}
                    {% if TreatmentDetails.price_name_c %}
                    <!-- only display if price exists -->
                    <tr>
                        <td>{{ TreatmentDetails.price_name_c }}</td>
                        <td>£{{ TreatmentDetails.price_c }}</td>
                    </tr>
                    {% endif %}
                    {% if TreatmentDetails.price_name_d %}
                    <!-- only display if price exists -->
                    <tr>
                        <td>{{ TreatmentDetails.price_name_d }}</td>
                        <td>£{{ TreatmentDetails.price_d }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- Contact us link -->
    <div class="row align-items-center py-3 my-1">
        <div class="col-sm-12 py-xs-0 p-4 text-center">
            <h4><a href="/#contact-us">contact us</a> to find out more</h4>
        </div>
    </div>
</div>

{% endblock %}
