.contact a {
    text-decoration: none;
    color: var(--black);
}

.contact a:hover {
    color: var(--tan)
}

.hr-style {
    border: 1px solid var(--black);
    opacity: 1;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-right: -15px;
    margin-left: -15px;
}

img {
    object-fit: cover !important;
}

/* Photo upload form */
.field-styling {
    border-radius: 0;
    border: 1px solid var(--jet);
    font-size: 1.6rem;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

@media (max-width: 574px) {
    .hr-style {
        width: 100%;
        border: 1px solid var(--black);
        opacity: 1;
        -ms-flex-line-pack: center;
        align-content: center;
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-height: 576px) {

    .carousel-item,
    img {
        height: 35rem;
    }

    img {
        object-position: 100% 60% !important;
    }
}

@media (min-width: 768px) {

    .carousel-item,
    img {
        height: 45rem;
    }

    img {
        object-position: 100% 45% !important;
    }
}

@media (min-width: 992px) {

    .carousel-item,
    img {
        height: 55rem;
    }

    img {
        object-position: 100% 43% !important;
    }
}

@media (min-width: 1200px) {

    .carousel-item,
    img {
        height: 85rem;
    }

    img {
        object-position: 100% 45% !important;
    }
}
