h4 a {
    color: var(--black);
    font-weight: bold;
}
h4 a:hover {
    color: var(--tan);
}
/* h2 {
    color: var(--tan);
} */
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--tan);
    color: var(--white)
}

.table>:not(caption)>*>* {
    background-color: var(--grey);
}
td {
    font-family: var(--header-font);
}