@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');

:root {
    /* fonts */
    --header-font: 'Abel', sans-serif;
    --main-font: 'Monserrat', sans-serif;

    /* color palette */
    --black: #242423;
    --yellow: #F9B737;
    --blue: #14213D;
    --white: #ffffff;
    --jet: #333533;

    /* box shadows */
    --dark-large-box-shadow: 6px 6px 12px var(--jet);
    --dark-small-box-shadow: 1px 1px 7px 0 var(--jet);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
    line-height: 1.5;
    font-family: var(--main-font);
    font-size: calc(1.4rem + .2vw);
}

.body-container {
    min-height: 75vh;
}

h1,
h2,
h3,
h4,
h5, 
h6 {
    font-family: var(--header-font);
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
    text-align: justify;
}

/* Header - Site Navigation */
.navbar, 
#mobile-nav {
    margin-right: -15px;
    margin-left: -15px;
}
#main-nav,
.nav-link-header {
    color: var(--black);
    background-color: var(--white);
}

#mobile-nav,
.dropdown-menu-header,
#mobile-nav .nav-link-header,
.dropdown-menu-header li a {
    color: var(--white);
    background-color: var(--black);
}

.nav-link-header {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link-header,
.dropdown-menu-header li a {
    font-size: 1.8rem;
    font-family: var(--header-font);
    letter-spacing: 0.1vw;
}

.nav-link-header:focus,
.nav-link-header:hover,
.dropdown-menu-header li a:focus,
.dropdown-menu-header li a:hover {
    color: var(--yellow)!important;
    text-decoration: none;
}

.fa-grip-lines {
    color: var(--black);
    font-size: 2rem;
}

/* Footer */
.footer {
    background-color: var(--jet);
    color: var(--white);
    padding: 3rem 2rem 2rem 2rem;
}

.footer h4 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
}

.footer li {
    list-style-type: none;
}

.footer a i {
    color: var(--white);
    width: 32px;
    height: 32px;
    padding: 1.2rem 0;
    font-size: 2.5rem;
}

.footer-link {
    font-family: var(--header-font);
    font-size: 1.4rem;
    color: var(--white);
}

.footer-contact-info p {
    font-size: 1.4rem;
}

.footer-nav .nav-link:hover {
    color: var(--yellow);
}

.footer a i:hover {
    color: var(--yellow);
}
.footer a i:hover {
    text-decoration: none;
}
#admin-link {
    opacity: .5;
}