<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="injectables, beauty, aesthetics, botox, Dr. Anna-Maria Katsimigos" />
<meta name="author" content="Neringa Bickmore. neringa.bickmore@gmail.com"/>
<meta name="description" content="Aesthetics by Dr. Katsimigos"/>
<meta name="copyright"content="Dr. Anna-Maria Katsimigos">
<meta name="revised" content="Sunday, 19th December, 2021, 11PM"/>
<meta name="Classification" content="Business">
<meta name="language" content="English">
<meta name="reply-to" content="">
<meta name="url" content="">
<meta name="distribution" content="Global">

<!-- Apple Meta Tags -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="yes" name="apple-touch-fullscreen" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width = 320, initial-scale = 1.0, user-scalable = no">