<!-- About -->
<li class="nav-item">
    <a class="nav-link-header" href="/">
        about
    </a>
</li>
<!-- Treatments -->
<li class="nav-item dropdown">
    <a class="nav-link-header" role="button" id="treatmentstDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        treatments
    </a>
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="treatmentsDropdown">
        <!-- all treatments -->
        <li><a href="{% url 'treatments' %}" class="dropdown-item ">All treatments</a></li>
        {% for TreatmentDetails in all_treatments %}
        {% if  TreatmentDetails.display %}
        <!-- {{ TreatmentDetails.treatment_name }} -->
        <li><a href="{% url 'treatment_details' TreatmentDetails.treatment_name %}" class="dropdown-item ">{{ TreatmentDetails.treatment_name }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <!-- Price List -->
<li class="nav-item dropdown">
    <a class="nav-link-header" role="button" id="priceDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        pricelist
    </a>
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="pricelistDropdown">
        <!-- all prices -->
        <li><a href="/pricelist" class="dropdown-item ">All prices</a></li>
        <!-- treatment 1 -->
        <li><a href="/pricelist/#treatment-1-price" class="dropdown-item ">Treatment 1</a></li>
        <!-- treatment 2 -->
        <li><a href="/pricelist/#treatment-2-price" class="dropdown-item ">Treatment 2<a></li>
        <!-- treatment 3 -->
        <li><a href="/pricelist/#treatment-3-price" class="dropdown-item ">Treatment 3</a></li>
    </ul>
</li>
<!-- Contact -->
<li class="nav-item">
    <a class="nav-link-header" href="/#contact-us">
        contact
    </a>
</li>
{% if user.is_superuser %}
<!-- Superuser management options -->
<li class="nav-item dropdown">
    <a class="nav-link-header" role="button" id="managementDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Management
    </a>
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="managementDropdown">
        <!-- logout-->
        <li><a href="/accounts/logout" class="dropdown-item ">Logout</a></li>

    </ul>
    {% endif %}