<!-- About -->
<li class="nav-item">
    <a class="nav-link-header" href="">
        About
    </a>
</li>
<!-- Treatments -->
<li class="nav-item dropdown">
    <a class="nav-link-header" role="button" id="treatmentstDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Treatments
    </a>
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="treatmentsDropdown">
        <!-- all treatments -->
        <li><a href="/treatments" class="dropdown-item ">All treatments</a></li>
        <!-- treatment 1 -->
        <li><a href="" class="dropdown-item ">Treatment 1</a></li>
        <!-- treatment 2 -->
        <li><a href="" class="dropdown-item ">Treatment 2<a></li>
        <!-- treatment 3 -->
        <li><a href="" class="dropdown-item ">Treatment 3</a></li>
        <!-- treatment 4 -->
        <li><a href="" class="dropdown-item ">Treatment 4<a></li>
        <!-- treatment 5 -->
        <li><a href="" class="dropdown-item ">Treatment 5</a></li>
        <!-- treatment 6 -->
        <li><a href="" class="dropdown-item ">Treatment 6<a></li>

    </ul>
    <!-- Price List -->
<li class="nav-item">
    <a class="nav-link-header" href="">
        Price List
    </a>
</li>
<!-- Contact -->
<li class="nav-item">
    <a class="nav-link-header" href="/#contact-us">
        Contact
    </a>
</li>