<!-- About -->
<li class="nav-item">
    <a class="nav-link-header" href="/">
        about
    </a>
</li>
<!-- Treatments -->
<li class="nav-item dropdown">
    <a class="nav-link-header" role="button" id="treatmentstDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        treatments
    </a>
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="treatmentsDropdown">
        <!-- all treatments -->
        <li><a href="{% url 'treatments' %}" class="dropdown-item ">All treatments</a></li>
        {% for TreatmentDetails in all_treatments %}
        {% if  TreatmentDetails.display_treatment %}
        <!-- {{ TreatmentDetails.treatment_name }} -->
        <li><a href="{% url 'treatment_details' TreatmentDetails.treatment_name %}"
                class="dropdown-item ">{{ TreatmentDetails.treatment_name }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <!-- Price List -->
<li class="nav-item dropdown">
    <a class="nav-link-header" role="button" id="priceDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">pricelist
    </a>
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="pricelistDropdown">
        <!-- all prices -->
        <li><a href="{% url 'pricelist' %}" class="dropdown-item ">All prices</a></li>
        {% for TreatmentDetails in all_treatments %}
        {% if  TreatmentDetails.display_treatment %}
        <!-- {{ TreatmentDetails.treatment_name }} -->
        <li><a href="{% url 'pricelist' %}#{{ TreatmentDetails.treatment_name }}"
                class="dropdown-item ">{{ TreatmentDetails.treatment_name }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</li>
{% if not user.is_superuser %}
<!-- Contact -->
<li class="nav-item">
    <a class="nav-link-header" href="/#contact-us">
        contact
    </a>
</li>
{% endif %}
{% if user.is_superuser %}
<!-- Carousel -->
<li class="nav-item dropdown">
    <a class="nav-link-header" role="button" id="carouseltDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        carousel
    </a>
    <ul class="dropdown-menu-header dropdown-menu border-0" aria-labelledby="carouselDropdown">
        <li><a href="{% url 'carousel_photos' %}" class="dropdown-item">all photos</a></li>
        <li><a href="{% url 'upload_carousel_photo' %}" class="dropdown-item ">add new photo</a></li>
    </ul>
</li>
<!-- edit contact details -->
{% if contact_section %}
<li class="nav-item">
    {% for contact in contact_details %}
    <a class="nav-link-header" href="{% url 'edit_contact' contact.id %}">
        contact details
    </a>
    {% endfor %}
</li>
{% endif %}
<!-- logout -->
<li class="nav-item">
    <a class="nav-link-header" href="/accounts/logout">
        logout
    </a>
</li>
{% endif %}