<header class="container-fluid" id="header">
    <div class="row">
        <!-- logo -->
        <div class="col">
            <!-- <h4 class="pt-4 mb-5 mb-sm-0 header-logo">aesthetics by dr katsimigos</h4> -->
            <a href="" id="logo">
                <img src="https://res.cloudinary.com/dktjdf0v1/image/upload/v1637526388/Aesthetics%20by%20Dr%20Katsimigos/logo.v1_t24ewk.png" id="header-logo" alt="logo">
            </a>
            <!-- <h1 class="text-center pt-4 mb-5 mb-sm-0 header-logo">aesthetics by dr katsimigos</h1> -->
        </div>
        <!-- mobile nav -->
        {% include 'includes/layout/mobile-nav.html' %}
    </div>
    <div class="d-lg-block d-none mb-3"></div>
    <!-- main navigation -->
    {% include 'includes/layout/main-nav.html' %}
</header>