{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid carousel-container">
    <!-- About Images Row -->
    <div class="row align-items-center py-3 my-1">
        <div class="col-sm-12 px-2">
            <!-- Carousel -->
            <div id="aboutIntervalCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for CarouselPhoto in all_carousel_photos %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000">
                        <img src="{{ CarouselPhoto.image.url }}" class="d-block w-100" alt="{{ CarouselPhoto.title }}">
                    </div>
                    {% endfor %}
                </div>
                <!-- Carousel control buttons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#aboutIntervalCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#aboutIntervalCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container body-container">
    <!-- About Row -->
    <div class="row  align-items-center pt-2 pb-5 px-2" id="about-row">
        <div class="col-sm-12 py-xs-0 py-2 mb-4">
            {% for about in about_section %}
            <h2 class="mt-2 pb-3 text-center text-sm-left"><strong>{{ about.name }}</strong> </h2>
            <p class="mx-3 mx-sm-0">{{ about.description1 }}</p>
            <p class="mx-3 mx-sm-0"> {{ about.description2 }}</p>
            <p class="mx-3 mx-sm-0"> {{ about.description3 }}</p>
            {% if request.user.is_superuser %}
            <!-- Edit button -->
            <div class="text-center text-sm-right">
                <a class="btn my-2 col-12 col-sm-2" href="{% url 'edit_about' about.id %}">Edit<span class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="hr-style"></div>
    <!-- Contact Row -->
    <div class="row  align-items-center pt-2 pb-5 px-2" id="contact-row">
        <div class="col-sm-12 py-xs-0 pb-2">
            {% for contact in contact_section %}
            <h2 class="mt-4 pb-3 text-center text-sm-left" id="contact-us"><strong>{{ contact.header }}</strong> </h2>
            <h3 class="my-1 pb-3 text-center text-sm-left"><strong>{{ contact.subheader }} </strong> </h3>
            <p class="text-center"><i class="fas fa-phone p-2"></i> {{ contact.telephone_number }}</p>
            <p class="text-center contact"><a href="mailto:{{ contact.email_address }}">
                    <i class="fas fa-envelope p-2"></i> {{ contact.email_address }}</a></p>
            {% if contact.instagram_handle %}
            <p class="text-center contact"><a href="{{ contact.instagram_handle }}" rel="noopener noreferrer"
                    target="_blank" aria-label="Find us on Instagram"><i class="fab fa-instagram p-2"></i>Instagram</a>
            </p>
            {% endif %}
            {% if request.user.is_superuser %}
            <!-- Edit button -->
            <div class="text-center text-sm-right">
                <a class="btn my-2 col-12 col-sm-2" href="{% url 'edit_contact' contact.id %}">Edit<span
                        class="icon p-2">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </span></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}