{% extends 'base.html' %}

{% load cloudinary %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="container mb-5 body-container">
    <!-- Title -->
    <div class="row">
        <div class="col-12 text-center px-4">
            <h1 class="my-4 ml-2 text-uppercase">Pictures in the carousel</h1>
            <h2><small> (in the about page)</small></h2>
            <!-- add new photo to the carousel -->
            <div class="text-center text-sm-right">
                <a class="btn my-2 col-12 col-lg-4 col-md-5" href="{% url 'upload_carousel_photo' %}">add new photo<span
                        class="icon p-2">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </span></a>
            </div>
        </div>
    </div>

    <!-- carousel pictures -->
    <div class="row align-items-center py-3 my-1">
        {% for CarouselPhoto in all_carousel_photos %}
        <div class="col-sm-4 col-12 treatment-photo-container align-self-center p-4">
            <div class="card">
                <img src="{{ CarouselPhoto.image.url }}" style="height: auto;" class="card-img-top"
                    alt="{{ CarouselPhoto.title }}">
                <div class="card-body">
                    <h3 class="card-title">{{ CarouselPhoto.title }}</h3>
                    <!-- Edit button -->
                    <div class="text-center">
                        <a class="btn my-2 col-12" href="{% url 'edit_carousel_photo' CarouselPhoto.id %}">Edit<span
                                class="icon p-2">
                                <i class="far fa-edit" aria-hidden="true"></i>
                            </span></a>
                        <!-- delete carousel photo -->
                        <a class="btn my-2 col-12" href="{% url 'delete_carousel_photo' CarouselPhoto.id %}"
                            aria-label="delete photo">
                            Delete photo<span class="icon p-2">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </span></a>
                        </span></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}